---
layout: default
---
{% unless page.content == '' %}
<p>{{ page.content }}</p>
{% endunless %}

<div id="categories" class="categories" role="tablist" aria-multiselectable="false">
    {% for cat in site.categories %}
    <div class="card">
        <div class="card-header border-0" role="tab" id="{{cat[0]}}header">
            <h5 class="mb-0">
                <a name="c_{{cat[0]}}" class="text-white" data-toggle="collapse" data-parent="#categories" href="{{cat[0]}}" aria-expanded="false" aria-controls="c_{{cat[0]}}">{{ cat[0] }}
                    <span class="badge badge-default ml-2 text-white">{{ cat[1].size }}</span>
                </a>
            </h5>
        </div>

        <div id="c_{{cat[0]}}" class="collapse show" role="tabpanel" aria-labelledby="{{cat[0]}}header">
            <div class="card-block">
                {% for post in cat[1] %}
                <div class="text-white"> {{ post.date | date: "%Y-%m-%d" }}
                    <a class="text-white ml-3" href="{{site.url}}{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

